---

import BaseTemplate from '@layout/Base.astro'

import Icon from '@components/Icon.astro'
import { getAccounts } from '@modules/api'

import { type ApiResponseWithPagination, PaginationOrderDirection } from '@type/Api.types'

if(!Astro.locals.loggedIn) return Astro.redirect("/login")

if(!Astro.locals.admin) return Astro.redirect("/")

const countPerPage: number = parseInt(Astro.url.searchParams.get('limit') || "10"),
	page: number = parseInt(Astro.url.searchParams.get('page') || "1"),
	orderBy: string = Astro.url.searchParams.get('order_by') || "id",
	orderByDirection: PaginationOrderDirection = (
			Astro.url.searchParams.get('order_by_direction')?.startsWith("D") ?
				PaginationOrderDirection.DESCENDING
			: PaginationOrderDirection.ASCENDING
		) || PaginationOrderDirection.ASCENDING,
	queryParams = {
			limit: countPerPage.toString(),
			offset: (countPerPage * (page - 1)).toString(),
			orderBy,
			orderByDirection
		},
	{
			result: accounts,
			meta: {
				max,
				limit,
				offset,
			}
		} = await getAccounts(queryParams, Astro.locals.token),
	maxPage = Math.ceil(max / countPerPage)

const newLinkWithParam = (name: string, value: string | number) => {
	return "?" + (new URLSearchParams({ ...queryParams, [name]: value }).toString())
}

const changeSortDirection = () => {
	return newLinkWithParam(
			"order_by_direction",
			orderByDirection == PaginationOrderDirection.ASCENDING ?
				PaginationOrderDirection.DESCENDING
				: PaginationOrderDirection.ASCENDING
		)
}

---

<BaseTemplate>
	<h1>Operating Companies</h1>
	<h3>
		View and manage all operating companies below...
	</h3>

	<section class="operations d-flex justify-content-between mb-2">
		<div class="d-flex align-items-center gap-2">
			Sort by:

			<a href={ orderBy != "id" ? newLinkWithParam("order_by", "id") : changeSortDirection() }>
				<button
					type="button"
					class:list={["btn", "btn-secondary", "btn-sm", { active: orderBy == "id" }]}
					aria-pressed={ orderBy == "id" }>
					ID
				</button>
			</a>
			<a href={ orderBy != "username" ? newLinkWithParam("order_by", "username") : changeSortDirection() }>
				<button
					type="button"
					class:list={["btn", "btn-secondary", "btn-sm", { active: orderBy == "noc" }]}
					aria-pressed={ orderBy == "username" }>
					Username
				</button>
			</a>
			<a href={ orderBy != "name" ? newLinkWithParam("order_by", "name") : changeSortDirection() }>
				<button
					type="button"
					class:list={["btn", "btn-secondary", "btn-sm", { active: orderBy == "name" }]}
					aria-pressed={ orderBy == "name" }>
					Name
				</button>
			</a>
			<a href={ orderBy != "role" ? newLinkWithParam("order_by", "role") : changeSortDirection() }>
				<button
					type="button"
					class:list={["btn", "btn-secondary", "btn-sm", { active: orderBy == "role" }]}
					aria-pressed={ orderBy == "role" }>
					Role
				</button>
			</a>
			<a href={ orderBy != "password_last_modified" ? newLinkWithParam("order_by", "password_last_modified") : changeSortDirection() }>
				<button
					type="button"
					class:list={["btn", "btn-secondary", "btn-sm", { active: orderBy == "password_last_modified" }]}
					aria-pressed={ orderBy == "password_last_modified" }>
					Password last modified
				</button>
			</a>
			<a href={ orderBy != "disabled" ? newLinkWithParam("order_by", "disabled") : changeSortDirection() }>
				<button
					type="button"
					class:list={["btn", "btn-secondary", "btn-sm", { active: orderBy == "disabled" }]}
					aria-pressed={ orderBy == "disabled" }>
					Disabled
				</button>
			</a>
		</div>
		<a href="new/">
			<button type="button" class="btn btn-success" aria-label="Add new">New</button>
		</a>
	</section>
	<section class="table-container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">
						#
						<!-- { renderSort("id") } -->
					</th>
					<th scope="col">
						Username
					</th>
					<th scope="col">
						Name
					</th>
					<th scope="col">
						Role
					</th>
					<th scope="col">
						Password last modified
					</th>
					<th scope="col">
						Disabled
					</th>
					<th scope="col">
						Actions
					</th>
				</tr>
			</thead>
			<tbody>
				{ accounts.map(account =>
						<tr>
							<td scope="row">
								{ account.id }
							</td>
							<td>
								{ account.username }
							</td>
							<td>
								{ account.name }
							</td>
							<td>
								{ account.role }
							</td>
							<td>
								{ (new Date(account.password_last_modified)).toLocaleString("en-GB") }
							</td>
							<td>
								<input type="checkbox" disabled checked={ account.disabled } />
							</td>
							<td>
								<a href={`/account/${account.id}/`}>
									Edit
								</a>
							</td>
						</tr>
					) }
			</tbody>
		</table>
	</section>
	
	<nav class="d-flex justify-content-between align-items-center" aria-label="Page navigation example">
		<p>
			Showing { (page - 1) * limit } - { ((page - 1) * limit) + accounts.length } of { max }
			from page { page } { maxPage ? `of ${ maxPage }` : "" }
		</p>
		<ul class="pagination justify-content-end">
			<li class:list={[ "page-item", { disabled: page <= 1 } ]}>
				<a class="page-link" href={ page >= 0 ? newLinkWithParam("page", (page - 1).toString()) : undefined }>Previous</a>
			</li>
			{ [ ...Array(Math.ceil(max / countPerPage)) ].map((x, i) =>
				<li class:list={[ "page-item", { active: page == ++i } ]}>
					<a class="page-link" href={ newLinkWithParam("page", i) }>{i}</a>
				</li>
			) }
			<li class:list={[ "page-item", { disabled: page >= maxPage } ]}>
				<a class="page-link" href={ page < maxPage ? newLinkWithParam("page", (page + 1).toString()) : undefined }>Next</a>
			</li>
		</ul>
	</nav>
</BaseTemplate>
