---
import { ViewTransitions } from 'astro:transitions';
// import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";

import Header from '@components/Header.astro'
import '@styles/base.scss'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="initial-scale=1, width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		<title>Astro</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.min.js" integrity="sha512-sNylduh9fqpYUK5OYXWcBleGzbZInWj8yCJAU57r1dpSK9tP2ghf/SRYCMj+KsslFkCOt3TvJrX2AV/Gc3wOqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<ViewTransitions />
	</head>
	<body>
        <Header transition:name="hero" />

        <main id="main" class="main">
		    <slot />
        </main>
	</body>
</html>

<!-- <script>
	import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script> -->
