---

import BaseTemplate from '@layout/Base.astro'

import OperatingCompanyTable from '@components/OperatingCompanyTable'
import Icon from '@components/Icon.astro'
import { newOperatingCompany } from '@modules/api'

import { type ApiResponseWithPagination, PaginationOrderDirection } from '@type/Api.types'
import type { OperatingCompany } from '@type/OperatingCompany.types'

if(!Astro.locals.loggedIn) return Astro.redirect("/login")

if(!Astro.locals.admin) return Astro.redirect("/")

let noc: string | undefined = undefined,
	shortCode: string | undefined = undefined,
	name: string | undefined = undefined,
    message = undefined,
    now = Date.now();

if(Astro.request.method == "POST") {
    try {
        const data = await Astro.request.formData()

		noc = data.get("noc") as string,
		shortCode = data.get("shortCode") as string,
		name = data.get("name") as string

        if(noc) {
            try {
                const {
                        result: {
							id
						}
                    } = await newOperatingCompany({ noc, shortCode, name }, Astro.locals.token)

                return Astro.redirect(`/operating-company/${id}`)
            } catch(e: any) {
                if(e?.cause == "safe") {
                    message = e.message
                } else {
                    throw e
                }
            }
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}

---

<BaseTemplate>
	<h1>New Operating Company</h1>
	<h3>
		Create a new operating company below...
	</h3>

	<section class="form-container">
		<form action="" method="POST" data-astro-reload>
			<div class="form-group">
			  <label for="noc">National Operator Code (NOC):</label>
			  <input type="text" class="form-control" id="noc" name="noc" aria-describedby="nocHelp" placeholder="National Operator Code" maxlength="4" required value={ noc }>
			  <small id="nocHelp" class="form-text text-muted">Codes can be checked at <a href="https://www.travelinedata.org.uk/traveline-open-data/transport-operations/browse/" target="_blank">travelinedata.org.uk</a></a></small>
			</div>
			<div class="form-group">
			  <label for="shortCode">Short code (TIS code):</label>
			  <input type="text" class="form-control" id="shortCode" name="shortCode" placeholder="Short code" maxlength="3" value={ shortCode }>
			</div>
			<div class="form-group">
			  <label for="name">Name:</label>
			  <input type="text" class="form-control" id="name" name="name" placeholder="Stagecoach in..." value={ name }>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </form>
	</section>

    { message ?
            <div class="toast-container position-fixed bottom-0 end-0 p-3" data-ts={ now } transition:animate="none">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Error</strong>
                        <small>Just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        { message }
                    </div>
                </div>
            </div>
            <script data-ts={ now } is:inline>
                (new bootstrap.Toast(document.getElementById('liveToast'))).show()
            </script>
        : '' }
</BaseTemplate>
